<p id="notice"><%= notice %></p>

<h1>Instructions</h1>

<ul>
  <li>Open every page once to fill the cache.</li>
  <li>Go to page 3</li>
  <li>Edit "Hotel" and rename it to "Alpha2"</li>
  <li>See how page 1 was updated, but page 2 and 3 are outdated</li>
</ul>

<h1>Products</h1>

<p>
  Cache key: <%= @products.cache_key %>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Updated at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% cache @products.cache_key do %>
    <%= render @products %>
  <% end %>
  </tbody>
</table>

<p>
  Same table without cache:
</p>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Updated at</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%= render @products %>
  </tbody>
</table>

<br>

<%= link_to 'Page 1', products_path(page: 1) %>
<%= link_to 'Page 2', products_path(page: 2) %>
<%= link_to 'Page 3', products_path(page: 3) %>
